<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fit Fix
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button routerLink="/register" expand="block"> 
    Registrar
  </ion-button>
  <ion-button routerLink="/login" expand="block"> 
    Iniciar sesión
  </ion-button>
  <ion-button routerLink="/create" expand="block"> 
    Crear
  </ion-button>

</ion-content>
